@tailwind base;
@tailwind components;
@tailwind utilities;

.safe-area {
  padding-bottom: constant(safe-area-inset-bottom) !important;
  padding-bottom: env(safe-area-inset-bottom) !important;
}

/* 모바일 크롬 동적 주소창 대응을 위한 fixed bottom 네비게이션 */
.fixed-bottom-nav {
  position: fixed;
  bottom: 0;
  bottom: constant(safe-area-inset-bottom);
  bottom: env(safe-area-inset-bottom);
  /* 모바일 브라우저 주소창 변화에 대응 */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

@-webkit-keyframes skeleton-gradient {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

@keyframes skeleton-gradient {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

/*해당되는 컴포넌트에 적용*/
.skeleton-list-item {
  -webkit-animation: skeleton-gradient 1.8s infinite ease-in-out;
  animation: skeleton-gradient 1.8s infinite ease-in-out;
}

.loader {
  border: 5px solid #eeebeb;
  border-bottom-color: #0064ff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.concert-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(150px, 1fr); /* 아이템의 최소 너비 설정 */
  gap: 1rem;
  overflow-x: auto; /* 넘치는 부분에 대한 스크롤 설정 */
}

/* 모바일 화면 (768px 이하) */
@media (max-width: 768px) {
  .item-container {
    grid-template-columns: repeat(
      2,
      minmax(150px, 1fr)
    ); /* 2개의 아이템만 보여주기 */
  }
}

/* 태블릿 화면 (768px ~ 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .item-container {
    grid-template-columns: repeat(
      3,
      minmax(250px, 1fr)
    ); /* 3개의 아이템 보여주기 */
  }
}

/* 데스크톱 화면 (1024px 이상) */
@media (min-width: 1024px) {
  .item-container {
    grid-template-columns: repeat(
      4,
      minmax(150px, 1fr)
    ); /* 4개의 아이템 보여주기 */
  }
}

.main-jobs-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(150px, 1fr); /* 아이템의 최소 너비 설정 */
  gap: 1rem;
  overflow-x: auto; /* 넘치는 부분에 대한 스크롤 설정 */
}

/* 모바일 화면 (768px 이하) */
@media (max-width: 768px) {
  .item-container {
    grid-template-columns: repeat(
      2,
      minmax(0, 1fr)
    ); /* 2개의 아이템만 보여주기 */
  }
}

/* 태블릿 화면 (768px ~ 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .item-container {
    grid-template-columns: repeat(
      3,
      minmax(0, 1fr)
    ); /* 3개의 아이템 보여주기 */
  }
}

/* 데스크톱 화면 (1024px 이상) */
@media (min-width: 1024px) {
  .item-container {
    grid-template-columns: repeat(
      4,
      minmax(0, 1fr)
    ); /* 4개의 아이템 보여주기 */
  }
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.swiper {
  z-index: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.editor_view {
  ul {
    display: block !important;
    list-style-type: disc !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    padding-inline-start: 40px !important;
  }

  ol {
    display: block !important;
    list-style-type: decimal !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    padding-inline-start: 40px !important;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8
      list-9;
    counter-increment: list-0;
  }

  li {
    display: list-item !important;
    text-align: -webkit-match-parent !important;
    counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8
      list-9;
    counter-increment: list-0;
  }

  h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h5 {
    display: block;
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h6 {
    display: block;
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  .ql-align-center * {
    display: block !important;
    margin: 0 auto !important;
    text-align: center !important;
    list-style-position: inside !important;
  }

  .ql-align-right * {
    display: block !important;
    margin-left: auto !important;
    text-align: right !important;
  }

  .ql-align-left * {
    display: block !important;
    margin-right: auto !important;
    text-align: right !important;
  }

  .ql-align-right::marker {
    text-align: right !important;
  }

  .ql-align-right::before {
    text-align: right !important;
  }

  .ql-size-small {
    font-size: 0.75em !important;
  }

  .ql-size-large {
    font-size: 1.2em !important;
  }

  .ql-size-huge {
    font-size: 1.5em !important;
  }

  .ql-align-center {
    text-align: center !important;
  }

  .ql-align-left {
    text-align: left !important;
  }

  .ql-align-right {
    text-align: right !important;
  }

  .ql-font-serif {
    font-family: sans-serif !important;
  }

  .ql-font-monospace {
    font-family: monospace !important;
  }

  a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }

  .ql-indent-1 {
    padding-left: 3em !important;
  }

  .ql-indent-2 {
    padding-left: 6em !important;
  }

  .ql-indent-3 {
    padding-left: 9em !important;
  }

  .ql-indent-4 {
    padding-left: 12em !important;
  }

  .ql-indent-5 {
    padding-left: 15em !important;
  }

  .ql-indent-6 {
    padding-left: 18em !important;
  }

  .ql-indent-7 {
    padding-left: 21em !important;
  }

  .ql-indent-8 {
    padding-left: 24em !important;
  }

  .ql-indent-9 {
    padding-left: 27em !important;
  }

  blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 16px;
    padding-right: 16px;
    border-left: 4px solid #e5e5e5;
  }
}

.ck-content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.6;
  word-wrap: break-word;
}
.ck-content h1 {
  font-size: 2.38em;
  font-weight: 700;
}

.ck-content h2 {
  font-size: 2em;
  font-weight: 700;
}

.ck-content h3 {
  font-size: 1.72em;
  font-weight: 700;
}

.ck-content h4 {
  font-size: 1.45em;
  font-weight: 700;
}

.ck-content ul,
.ck-content ol {
  padding-left: 40px;
}

.ck-content ol {
  list-style-type: decimal;
}

.ck-content ul {
  list-style-type: disc;
}

.ck-content blockquote {
  overflow: hidden;
  padding-right: 1.5em;
  padding-left: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  border-left: 5px solid #ccc;
}

/* 기본 이미지 스타일 */
.ck-content .image {
  display: table;
  clear: both;
  text-align: center;
  margin: 1em auto;
}

.ck-content .image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 50px;
}

/* 이미지 캡션 스타일 */
.ck-content .image > figcaption {
  display: table-caption;
  caption-side: bottom;
  word-break: break-word;
  color: #333;
  background-color: #f7f7f7;
  padding: 0.6em;
  font-size: 0.75em;
  outline-offset: -1px;
}

.ck-content figure {
  display: table;
  margin: 1em auto;
  text-align: center;
}

/* 테이블 컨테이너에 대한 스타일 */
.ck-content figure.table {
  min-width: 100% !important;
  margin: 1em 0;
}

/* 실제 테이블에 대한 스타일 */
.ck-content .table table {
  width: 100% !important;
  border-collapse: collapse;
}

/* 테이블 셀에 대한 스타일 */
.ck-content .table td,
.ck-content .table th {
  border: 1px solid #bbb;
  padding: 0.4em;
}
/* 이미지 정렬 스타일 */
.ck-content .image-style-side,
.ck-content .image-style-align-left,
.ck-content .image-style-align-center,
.ck-content .image-style-align-right {
  max-width: 50%;
}

.ck-content .image-style-side {
  float: right;
  margin-left: var(--ck-image-style-spacing);
}

.ck-content .image-style-align-left {
  float: left;
  margin-right: var(--ck-image-style-spacing);
}

.ck-content .image-style-align-center {
  margin-left: auto;
  margin-right: auto;
}

.ck-content .image-style-align-right {
  float: right;
  margin-left: var(--ck-image-style-spacing);
}

/* 이미지 크기 스타일 */
.ck-content .image-style-block-quad {
  width: 100%;
  max-width: 100%;
}

.ck-content .image-style-block-wide {
  max-width: 75%;
}

/* 반응형 이미지 처리 */
@media screen and (max-width: 620px) {
  .ck-content .image-style-side,
  .ck-content .image-style-align-left,
  .ck-content .image-style-align-center,
  .ck-content .image-style-align-right {
    max-width: 100%;
    float: none;
    margin: 0 auto;
  }
}

.mobile-comment-menu svg {
  display: none !important;
}

.scroll-to-top-button {
  @apply fixed bottom-48 right-4 z-50 h-12 w-12 rounded-full bg-white shadow-md lg:hidden;
}
